@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0 0;
}

h2 {
  font-size: 1.5em;
  margin: 0 0;
}

h3 {
  font-size: 1.17em;
  margin: 0 0;
}

h4 {
  font-size: 1em;
  margin: 0 0;
}

h5 {
  font-size: 0.83em;
  margin: 0 0;
}

h6 {
  font-size: 0.75em;
  margin: 0 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: "Public Sans", "Verdana", sans-serif;
  background: #F5F5F5;
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 1160px;
  margin: 0 auto;
}

h1 {
  font-size: 54px;
  line-height: 63px;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
}

h2 {
  font-size: 38px;
  line-height: 45px;
  font-weight: 700;
  font-style: normal;
  color: #1F231E;
  text-align: center;
  max-width: 690px;
  margin: 0 auto;
}

h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  font-style: normal;
  color: #1F231E;
}

.text-colored {
  color: #8EA988;
  font-weight: 600;
}

.logo-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.logo-line .logo-block {
  display: flex;
  flex-direction: row;
}
.logo-line .logo-block .logo__img {
  padding-right: 27px;
}
.logo-line .logo-block .logo__slogan {
  width: 150px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  font-family: "Proxima Nova";
  letter-spacing: 0.03em;
}
.logo-line .logo-block .logo__slogan > img {
  transform: translateY(4px);
}
.logo-line .phone-block {
  display: flex;
  align-items: center;
}
.logo-line .phone-block .phone-link {
  font-family: "Proxima Nova";
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.icon {
  display: inline-block;
  border-radius: 50%;
  margin-right: 15px;
}

.icon-small {
  width: 32px;
  height: 32px;
}

.icon-big {
  min-width: 50px;
  width: 50px;
  height: 50px;
}

.icon-phone {
  background: rgba(143, 170, 137, 0.25) url("../images/icons/phone.svg") center/50% no-repeat;
}

.icon-email {
  background: rgba(143, 170, 137, 0.25) url("../images/icons/envelope.svg") center/50% no-repeat;
}

.icon-map {
  background: rgba(143, 170, 137, 0.25) url("../images/icons/map-pin.svg") center/50% no-repeat;
}

.button {
  background: radial-gradient(104.03% 1778.21% at 36.2% 30%, rgba(255, 255, 255, 0.4) 0%, rgba(204, 160, 93, 0) 100%), #55824B;
  box-shadow: 0px 24px 37px rgba(120, 151, 95, 0.25), 0px 6px 0px #344F2E;
  border-radius: 8px;
  font-size: 20px;
  line-height: 122%;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  padding: 23px 20px;
  width: 100%;
}

.form {
  background: #E8EEE7;
  padding: 50px 60px;
  border-radius: 15px;
}
.form__item {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.form__item-header {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  font-style: normal;
  color: #1F231E;
  margin-bottom: 10px;
}
.form__item-phone {
  position: relative;
}
.form__item-phone::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 100%;
  top: 0;
  left: 20px;
  opacity: 0.5;
  background: url("../images/icons/phone.svg") center/18px no-repeat;
}
.form__item-email {
  position: relative;
}
.form__item-email::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 100%;
  top: 0;
  left: 20px;
  opacity: 0.5;
  background: url("../images/icons/envelope.svg") center/18px no-repeat;
}
.form .input-phone,
.form .input-email, .form__item-file {
  height: 60px;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  font-style: normal;
  color: #1F231E;
  padding: 20px 20px 20px 48px;
  background: #F2F5F1;
}
.form__item-file {
  position: relative;
  padding: 0;
}
.form__item-file::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 100%;
  top: 0;
  left: 20px;
  opacity: 0.5;
  background: url("../images/icons/paperclip.svg") center/18px no-repeat;
}
.form__item-file::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 1px dashed #8EA988;
  border-radius: 8px;
}
.form__item-file span {
  position: absolute;
  top: 50%;
  left: 48px;
  transform: translateY(-50%);
  font-size: 13px;
  line-height: 19px;
  font-weight: 500;
  font-style: normal;
  color: #1F231E;
  opacity: 0.5;
}
.form .input-file {
  opacity: 0;
  width: 100%;
}
.form__button {
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
  font-style: normal;
  color: #ffffff;
  width: 100%;
  margin-top: 40px;
  flex: 1;
  height: 60px;
}

.promo {
  min-height: 500px;
  padding-top: 50px;
  padding-bottom: 235px;
  background: linear-gradient(180deg, #242B25 0%, rgba(36, 43, 37, 0) 40%), url("../images/ragged-lines/ragged-line-1.svg") center bottom/102% no-repeat, url("../images/promo/promo_fon.jpg") center/cover no-repeat;
}
.promo__content {
  margin-top: 142px;
}
.promo__header {
  width: 75%;
  margin-bottom: 37px;
}
.promo .offer {
  width: 485px;
  height: 122px;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 18px;
  background: url("../images/promo/round-log.png") left center/120px no-repeat, rgba(142, 169, 136, 0.25);
  padding: 17px 22px 18px 130px;
}
.promo .offer__name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  color: #ffffff;
  letter-spacing: 0.175rem;
  text-transform: uppercase;
}
.promo .offer__text {
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  font-style: normal;
  color: #1F231E;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.75);
  margin-top: 4px;
}
.promo .offer__loupe {
  background: url("../images/icons/loupe.svg") center/auto no-repeat, rgb(73, 89, 74);
  width: 45px;
  height: 45px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 40% 0;
  cursor: pointer;
}
.promo__button {
  margin-top: 37px;
  width: 320px;
}

.navigation {
  margin-top: 41px;
}
.navigation__list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
}
.navigation__link {
  font-family: "Proxima Nova";
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.advantages {
  background: url("../images/advantages/branch-fon.png") right no-repeat;
  padding-top: 115px;
}
.advantages__header {
  margin-bottom: 88px;
}
.advantages__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
}
.advantages .advantage {
  position: relative;
  width: 260px;
  min-height: 237px;
  padding: 129px 20px 36px;
  margin-bottom: 110px;
  margin-right: 40px;
  background: rgba(142, 169, 136, 0.1);
  border-radius: 15px;
}
.advantages .advantage:nth-of-type(4n+4) {
  margin-right: 0;
}
.advantages .advantage__img-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(44%) translateY(-50%);
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #8EA988;
}
.advantages .advantage__img-wrapper::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  left: -10px;
  bottom: -10px;
  opacity: 0.2;
  border: 2px solid #8EA988;
  border-radius: 50%;
  z-index: -2;
}
.advantages .advantage__img-wrapper::after {
  content: "";
  position: absolute;
  top: -16px;
  right: -16px;
  left: -16px;
  bottom: -16px;
  opacity: 0.2;
  border: 1px solid #8EA988;
  border-radius: 50%;
  z-index: -2;
}
.advantages .advantage:nth-child(1) img {
  position: absolute;
  top: -5px;
}
.advantages .advantage:nth-child(2) img {
  position: absolute;
  right: 0;
  top: 0;
}
.advantages .advantage:nth-child(3) img {
  position: absolute;
  right: 0;
  top: -1px;
}
.advantages .advantage:nth-child(4) img {
  position: absolute;
  right: 0;
  bottom: 8px;
}
.advantages .advantage:nth-child(5) img {
  position: absolute;
  left: 15px;
  top: -4px;
}
.advantages .advantage:nth-child(6) img {
  position: absolute;
  left: 13px;
  top: -8px;
}
.advantages .advantage:nth-child(7) img {
  position: absolute;
  left: -16px;
  bottom: -1px;
}
.advantages .advantage__text {
  text-align: center;
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 400;
  font-style: normal;
  color: #1F231E;
}
.advantages__branch {
  position: absolute;
  right: 0;
  bottom: 0;
}

.construction {
  position: relative;
  min-height: 725px;
  background: url("../images/construction/forest-fon.png") center bottom/100% no-repeat;
}
.construction__container {
  min-height: 700px;
  height: 100%;
}
.construction__header {
  margin-bottom: 40px;
}
.construction__house {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
}
.construction__button {
  position: absolute;
  right: 0;
  bottom: 167px;
  width: 400px;
}
.construction__button button {
  padding-right: 68px;
  text-align: right;
}
.construction__branch-cone {
  position: absolute;
  left: 0;
  top: -50%;
}

.steps {
  position: relative;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #1F231E;
}
.steps__item {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #1F231E;
  position: absolute;
  max-width: 180px;
}
.steps__item:nth-of-type(1) {
  top: 0;
  left: 0;
  transform: translateX(245px) translateY(10px);
}
.steps__item:nth-of-type(2) {
  top: 0;
  left: 0;
  transform: translateX(114px) translateY(82px);
  text-align: right;
}
.steps__item:nth-of-type(3) {
  top: 0;
  left: 0;
  transform: translateX(-41px) translateY(206px);
  text-align: right;
}
.steps__item:nth-of-type(4) {
  top: 0;
  left: 0;
  transform: translateX(-5px) translateY(338px);
  text-align: right;
}
.steps__item:nth-of-type(5) {
  top: 0;
  left: 0;
  transform: translateX(767px);
}
.steps__item:nth-of-type(6) {
  top: 0;
  right: 0;
  transform: translateX(-82px) translateY(88px);
}
.steps__item-descr {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: rgba(31, 35, 30, 0.75);
}
.steps__number {
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
  font-style: normal;
  color: #1F231E;
  background: radial-gradient(86.11% 80.07% at 96.3% 47.32%, #8EA988 0%, rgba(142, 169, 136, 0.5) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.steps .num-01 {
  top: -24px;
  position: absolute;
  right: -86px;
}
.steps .num-02,
.steps .num-03,
.steps .num-04 {
  position: absolute;
  top: -16px;
  right: -98px;
}
.steps .num-05 {
  position: absolute;
  top: -10px;
  left: -100px;
}
.steps .num-06 {
  position: absolute;
  top: -10px;
  left: -100px;
}

.guarantees {
  background: url("../images/guarantees/guarantees-fon.jpg") center/cover no-repeat;
  min-height: 630px;
  padding: 120px 0;
}
.guarantees__content-wrapper {
  width: 60%;
}
.guarantees__header {
  text-align: left;
  margin: 0 0 23px;
  color: #ffffff;
}
.guarantees .deadlines-big {
  display: flex;
  list-style: none;
  margin-bottom: 50px;
}
.guarantees .deadlines-big__item {
  flex: 1;
  margin-right: 15px;
  font-size: 16px;
  line-height: 27px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}
.guarantees .deadlines-big__item span {
  display: block;
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
  font-style: normal;
  color: #1F231E;
  background: radial-gradient(#8EA988 0%, rgba(142, 169, 136, 0.5) 100%), #353A33;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.guarantees .deadlines-small {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  list-style: none;
  display: flex;
  margin-left: 30px;
}
.guarantees .deadlines-small__item {
  position: relative;
  margin-right: 70px;
}
.guarantees .deadlines-small__item::before {
  content: url("../images/icons/check.svg");
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: -30px;
}

.gifts {
  background: url("../images/gifts/gifts-fon.png") center/100% no-repeat;
  padding: 64px 0 150px;
  list-style: none;
}
.gifts__list {
  margin-top: 41px;
}

.gift {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0.55) 100%), rgba(237, 241, 236, 0.8);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  margin-bottom: 29px;
  min-height: 385px;
  padding: 0 40px 0;
}
.gift__content {
  padding: 55px 0 65px;
}
.gift__image {
  flex-grow: 1;
}
.gift__text {
  margin-bottom: 20px;
  flex-grow: 1;
}
.gift__condition {
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  margin-bottom: 24px;
}
.gift__description {
  font-size: 28px;
  line-height: 33px;
  font-weight: 600;
  font-style: normal;
  color: #1F231E;
  margin-bottom: 10px;
}
.gift__addition {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: rgba(0, 0, 0, 0.5);
}
.gift__button {
  width: 320px;
}

.usage {
  padding-bottom: 138px;
}
.usage__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-top: 55px;
}
.usage__item {
  position: relative;
  display: flex;
  max-width: 374px;
  align-items: center;
}
.usage__img-wrapper {
  position: relative;
  margin-right: 45px;
}
.usage__img-wrapper::before {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  left: -10px;
  bottom: -10px;
  opacity: 0.2;
  border: 2px solid #8EA988;
  border-radius: 50%;
  z-index: 0;
}
.usage__img-wrapper::after {
  content: "";
  position: absolute;
  top: -16px;
  right: -16px;
  left: -16px;
  bottom: -16px;
  opacity: 0.2;
  border: 1px solid #8EA988;
  border-radius: 50%;
  z-index: 0;
}
.usage__item-img {
  border-radius: 50%;
}
.usage__item-text p {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  font-style: normal;
  color: #1F231E;
  max-width: 210px;
}

.about {
  background: url("../images/about/about-fon.jpg") center center/cover no-repeat;
  padding: 144px 0 168px;
}
.about__container {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.about__content {
  max-width: 520px;
  display: flex;
  flex-direction: column;
}
.about__header {
  color: #ffffff;
  margin: 0 0 15px;
  text-align: left;
}
.about__text {
  font-size: 18px;
  line-height: 33px;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
}

.activity {
  min-height: 400px;
  position: relative;
  padding: 160px 0 160px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/activity/activity-fon.png") center bottom/contain no-repeat;
}
.activity__container {
  display: flex;
}
.activity__header {
  text-align: left;
  margin-right: 40px;
}
.activity__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex-basis: 2;
}
.activity__item {
  width: 360px;
  min-height: 217px;
  background: rgba(227, 236, 225, 0.8);
  border-radius: 15px;
  margin: 0 40px 40px 0;
  padding: 33px 40px 50px;
}
.activity__item > img {
  width: 48px;
  height: 48px;
  margin-bottom: 20px;
}
.activity__item p {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #1F231E;
}
.activity__image {
  position: absolute;
  left: 0;
  bottom: 0;
}

.feedbacks {
  background: #E8EEE7;
  padding: 50px 0 100px;
  min-height: 360px;
}
.feedbacks__header-zone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.feedbacks__header {
  margin: 0;
}
.feedbacks__list {
  position: relative;
  margin: 0 auto;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.feedback {
  min-width: 360px;
  height: 293px;
  margin-right: 40px;
}
.feedback:last-of-type {
  margin-right: 0;
}
.feedback.blur {
  filter: blur(5px);
}
.feedback__text {
  background: #F2F5F1;
  border-radius: 15px;
  padding: 24px 30px 25px 33px;
  margin-bottom: 41px;
}
.feedback__text a {
  font-size: 14px;
  line-height: 22px;
  font-weight: 700;
  font-style: normal;
  color: #8EA988;
  text-decoration-line: underline;
}
.feedback__content {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: #1F231E;
  margin-bottom: 10px;
}
.feedback__author {
  display: flex;
  justify-content: start;
  align-items: center;
}
.feedback__author img {
  width: 60px;
  height: 60px;
  border: 1px solid #8EA988;
  border-radius: 50%;
  margin-right: 13px;
}
.feedback__author-name {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
  color: #1F231E;
}
.feedback__author-job {
  font-size: 12px;
  line-height: 14px;
  font-weight: 600;
  font-style: normal;
  color: rgba(31, 35, 30, 0.5);
}
.feedback__user-icon {
  padding: 12px;
}

.feedbacks__buttons {
  display: block;
}

.btn-prev {
  width: 40px;
  height: 40px;
  background: url("../images/icons/arrow.svg") center center/26px no-repeat #F2F5F1;
  border-radius: 8px;
  margin-right: 10px;
}

.btn-next {
  width: 40px;
  height: 40px;
  background: url("../images/icons/arrow-white.svg") center center/26px no-repeat #8EA988;
  border-radius: 8px;
}

.calculate {
  padding: 253px 0 92px;
  background: url("../images/calculate/calculate-fon.png") center bottom/100% no-repeat;
}
.calculate__header {
  text-align: left;
  margin: 0 0 55px;
}

.calculate__form {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.calculate__form .form__item {
  flex: 1;
  margin-right: 30px;
}

.geography {
  padding: 66px 0 50px;
}
.geography__header {
  margin-bottom: 15px;
}
.geography__text {
  max-width: 550px;
  margin: 0 auto;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: #1F231E;
  text-align: center;
}
.geography__map {
  display: block;
  margin: 0 auto;
}

.gallery {
  margin-bottom: 87px;
}

.gallery__line-1,
.gallery__line-2 {
  height: 306px;
  display: flex;
}
.gallery__line-1 > img,
.gallery__line-2 > img {
  width: auto;
  height: 100%;
  background: #D9D9D9;
  border-radius: 15px;
  margin-right: 13px;
}
.gallery__line-1 > img:last-of-type,
.gallery__line-2 > img:last-of-type {
  margin-right: 0;
}

.gallery__line-1 {
  transform: translateX(-200px);
  margin-bottom: 15px;
}

.contacts {
  background: url("../images/contacts/contacts-fon.png") center bottom/100% no-repeat;
  min-height: 697px;
}
.contacts__container {
  display: flex;
  justify-content: space-between;
}
.contacts__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-right: 30px;
  flex: 1;
}
.contacts__header {
  margin: 0 0 63px;
}
.contacts__item {
  display: flex;
  align-items: center;
  margin-bottom: 47px;
}
.contacts__item a {
  font-size: 28px;
  line-height: 33px;
  font-weight: 400;
  font-style: normal;
  color: #000000;
}

.contacts__form {
  max-width: 460px;
  width: 460px;
  flex: 1;
}

.footer {
  background: #1F231E;
  padding: 30px 0;
}/*# sourceMappingURL=style.css.map */