.logo-line{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  .logo-block{
    display: flex;
    flex-direction: row;  
    .logo__img {
      padding-right: 27px;
    }
    .logo__slogan {
      width: 150px;
      @include font(16px, 19px, 400, $color: $color-light);
      font-family: 'Proxima Nova';
      letter-spacing: 0.03em;
      & > img {
        transform: translateY(4px);
      }
    }
  }
  .phone-block{
    display: flex;
    align-items: center;
    .phone-link{
      font-family: 'Proxima Nova';
      @include font(20px, 24px, 600, $color: $color-light);
      letter-spacing: 0.03em;
      text-decoration: none;
    }
  }
}
