@keyframes scroll-1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes scroll-2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}