$color-primary-dark: #55824B;
$color-primary-light: #8EA988;
$color-primary-bg-darker: #E8EEE7;
$color-primary-bg-lighter: #F2F5F1;
$color-light: #ffffff;

$color-text: #1F231E;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
