@font-face {
font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
src: local('Public Sans Regular'), url('PublicSans-Regular.woff') format('woff');
}

@font-face {
font-family: 'Public Sans';
font-style: normal;
font-weight: 500;
src: local('Public Sans Medium'), url('PublicSans-Medium.woff') format('woff');
}

@font-face {
font-family: 'Public Sans';
font-style: normal;
font-weight: 600;
src: local('Public Sans SemiBold'), 
        url('PublicSans-SemiBold.woff2') format('woff2'),
        url('PublicSans-SemiBold.woff') format('woff'),
        url('PublicSans-SemiBold.ttf') format('truetype');
}

@font-face {
font-family: 'Public Sans';
font-style: normal;
font-weight: 700;
src: local('Public Sans Bold'), url('PublicSans-Bold.woff') format('woff');
}

@font-face {
font-family: 'Public Sans';
font-style: normal;
font-weight: 900;
src: local('Public Sans Black'), url('PublicSans-Black.woff') format('woff');
}