.activity {
  position: relative;
  padding: 346px 0 158px;
    margin-top: -218px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 16%, rgba(255, 255, 255, 0.9) 100%),
          url("../images/activity/activity-fon.png") center bottom / contain no-repeat;
  mask: url("../images/ragged-lines/ragged-line-gifts-top.svg") center top / 100% no-repeat;
  &__container {
    display: flex;
  }
  &__header {
    text-align: left;
    margin-right: 40px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: end;
  }
  &__item {
    width: 360px;
    min-height: 200px;
    background: rgba(227, 236, 225, 0.8);
    border-radius: 15px;
    margin: 0 40px 40px 0;
    padding: 33px 40px 26px;
    
      &:nth-of-type(2n+2),
      &:last-of-type {
        margin-right: 0;
      }
    > img {
      width: 48px;
      height: 48px;
      margin-bottom: 14px;
    }
    p {
      @include font (20px, 24px);
    }
        .smaller-text {
          @include font(16px, 19px);
          margin-top: 6px;
        }
  }
  &__image {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}