.contacts {
  background: url("../images/contacts/contacts-fon.png") center bottom / 100%
    no-repeat;
  padding: 44px 0 312px;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__text {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 30px;
    flex: 1;
  }
  &__header {
    margin: 44px 0 57px;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    & a {
      @include font(28px, 33px, $color: #000000);
      text-decoration: none;
    }
  }
}

// ФОРМА

.contacts {
  &__form {
    max-width: 460px;
    width: 460px;
    padding: 55px 60px 20px;
    flex: 1;
  }
  &__form-header {
    margin-bottom: 30px;
  }
  .form__item-header {
    margin-bottom: 10px;
  }
  label {
    margin-bottom: 25px;
  }
  .form__button {
    margin-top: 15px;
  }
}
