.gallery {
  padding: 40px 0 44px;
  overflow: hidden;
  position: relative;
  height: 664px;
  @media (max-width: 959.98px) {
    height: 360px;
  }
  @media (max-width: 479.98px) {
    height: 210px;
  }
}
.gallery__line-1,
.gallery__line-2 {
    height: 306px;
    display: flex;
    position: absolute;
    @media (max-width: 959.98px) {
      height: 156px;
    }
    @media (max-width: 479.98px) {
      height: 83px;
    }
    & > img {
      width: auto;
      height: 100%;
      background: #D9D9D9;
      border-radius: 15px;
      margin: 0 6px;
      &:last-of-type {
        margin-right: 0;
      }
    }
}

.gallery__line-1 {
  top: 18px;
  left: 0px;
  margin-bottom: 15px;
  white-space: nowrap;
  animation: scroll-1 15s infinite linear;
}
.gallery__line-2 {
  bottom: 18px;
  right: 0px;
  white-space: nowrap;
  animation: scroll-2 15s infinite linear;
}