.usage {
	min-height: 430px;
	padding: 50px 0;
	&__list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style: none;
		margin-top: 55px;
		column-gap: 20px;
		row-gap: 45px;
		max-height: 300px;
		@media (max-width: 1199.98px) {
			flex-direction: column;
			flex-wrap: wrap;
			margin-left: 150px;
			margin-right: 150px;
		}
		@media (max-width: 991.98px) {
			margin-left: 0;
			margin-right: 0;
		}
		@media (max-width: 767.98px) {
			max-height: 100%;
			flex-wrap: nowrap;
			align-items: center;
		}
	}
	&__item {
		position: relative;
		display: flex;
		max-width: 374px;
		align-items: center;
		@media (max-width: 767.98px) {
			flex-direction: column;
			row-gap: 15px;
		}
		&:last-child {
			flex-grow: 2;
			@media (max-width: 1199.98px) {
				flex-grow: 1;
				flex-direction: column;
				row-gap: 30px;
			}
		}
	}
	&__img-wrapper {
		position: relative;
		margin-right: 45px;
		@media (max-width: 767.98px) {
			margin-right: 0;
		}
		&::before {
			content: '';
			position: absolute;
			top: -10px;
			right: -10px;
			left: -10px;
			bottom: -10px;
			opacity: 0.2;
			border: 2px solid $color-primary-light;
			border-radius: 50%;
			z-index: 0;
		}
		&::after {
			content: '';
			position: absolute;
			top: -16px;
			right: -16px;
			left: -16px;
			bottom: -16px;
			opacity: 0.2;
			border: 1px solid $color-primary-light;
			border-radius: 50%;
			z-index: 0;
		}
	}
	&__item-img {
		border-radius: 50%;
	}
	&__item-text h4 {
		@media (max-width: 767.98px) {
			text-align: center;
		}
	}
	&__item-text p {
		@include font (16px, 25px);
		max-width: 210px;
		@media (max-width: 767.98px) {
			text-align: center;
			max-width: 100%;
		}
	}
}